* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   --p-color: #FDBFC9;
   --s-color: white;
   --shadow: #cbcbcb;
   --card-width: 400px;
   --card-height: 700px;
   text-align: center;

   font-family: 'Abril Fatface', cursive;
   font-size: 16px;
   font-weight: 200;
}

body {
   height: 100%;
}

.card-container {
   position: relative;

   width: var(--card-width);
   height: var(--card-height);
   margin: 5% auto;
   border-radius: 10px;
   background-color: var(--p-color);
   -webkit-box-shadow: 1px 1px 3px 0 #d6d6d6,
   7px 8px 15px 0 #e7d4d8;
   box-shadow: 1px 1px 3px 0 #d6d6d6,
   7px 8px 15px 0 #e7d4d8;
}

.img-container {
   width: var(--card-width);
   height: var(--card-width);
}

img {
   width: 100%;
   height: auto;
   filter: grayscale(100%);
   border-bottom: dashed 1px var(--s-color);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.text-container {
   position: absolute;
   top: calc(var(--card-width) - 10% - 25px);
   left: 50%;

   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);

   color: var(--s-color);

   font-size: 1.4rem;
}

.icon-container {
   position: absolute;
   z-index: 2;
   top: calc(var(--card-width) - 25px);
   left: calc(var(--card-width) - 50% - 25px);

   width: 50px;
   height: 50px;

   border: none;
   border-radius: 100%;
   outline: none;
   background-color: var(--s-color);
}

.icon-container .fa {
   position: absolute;
   top: 50%;
   left: 50%;

   margin: auto;

   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);

   color: var(--p-color);

   font-size: 1.6rem;
}

.icon-container:hover,
.icon-container:focus {
   cursor: pointer;
   -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}

.text-info-container {
   position: relative;
   z-index: 1;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   -ms-flex-align: center;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   height: calc(var(--card-height) - var(--card-width));
}

.text-info {
   display: inline-block;

   color: var(--s-color);

   font-size: 1.2rem;
}

.followers, .tweets {
   width: 29%;
}

.following {
   width: 33%;

   border: solid 2px var(--s-color);
   border-top: transparent;
   border-bottom: transparent;
}